.background{
    /* background-color: #080808; */
    background-color: #020101 !important;
  
}

.degradade{
    background: linear-gradient(to bottom, #020101, #050303, #0c0b0b);
}

.soft-background{
    background: #0c0b0b;
}